<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Sign Up</h3>
            <hr>
            <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
                <div class="mb-3">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email">
                    <div *ngIf="signupForm.get('email').touched && !signupForm.get('email').valid">
                        <div *ngIf="signupForm.get('email').errors.required">
                            Email is required
                        </div>
                        <div *ngIf="signupForm.get('email').errors.email">
                            Invalid email
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password">
                    <div *ngIf="signupForm.get('password').touched && !signupForm.get('password').valid">
                        <div>
                            Password is required
                        </div> 
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>